{% extends 'base.html'%}
{% block index %}
{% load static %}

    <div class="img__container mt-1 mb-0">
        <img src="{% static 'images/image.png' %}" class="image" alt="Описание изображения...">
        <div class="img__description">
            <div class="img__header">Яркие грани IT-технологий</div>
          <p class="lead"> Новые знания по различным направлениям
                      <br> Навыки проектной деятельности и командной работы
                      <br>Новые дисциплины</p>
          {% if not request.user.is_authenticated %}
            <hr class="my-4">
            <p>Для участия в марафоне необходимо зарегестрироваться</p>
            <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Регистрация</a>
            {% endif %}
        </div>
    </div>

    <div class="jumbotron text-center px-5">
            <h1 class="display-4">О марафоне</h1>
            <p class="lead mx-5">Старт марафона 20 апреля. 
                Марафон проходит в течение нескольких дней: новый день - новое задание.
                 Количество направлений для выбора не ограничено. 
                 Выбирай направление и прокачивай свои знания под руководством опытных наставников. 
                 Выполняй задания каждый день и повышай свой рейтинг.</p>
            
    </div>




{% endblock index%}
{% block content %}



          <div class="row row-cols-1 justify-content-md-center row-cols-md-3">
          {% for course in courses %}
          <div class="col my-3">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title text-center">{{course.title}}</h3>
                <p class="card-text">{{course.short_info}}</p>
              </div>
              <div class="card-footer text-center">
                <a class="btn btn-primary  btn-lg" style="background-color: #5b7ab9;" href="{% url 'course' course.pk%}" role="button">Подробнее</a>
              </div>  
            </div>
          </div>
          {% endfor %}
          </div>




          <!--
          <div class="accordion" id="courseExpanded">
            {% for course in courses %}
            <div class="card">
              <div class="card-header" id="heading{{course.pk}}">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCourse{{course.pk}}" aria-expanded="false" aria-controls="collapseOne">
                    {{course.title}}
                  </button>
                </h2>
              </div>

              <div id="collapseCourse{{course.pk}}" class="collapse" aria-labelledby="heading{{course.pk}}" data-parent="#courseExpanded">
                <div class="card-body inline">
                  <p class="card-text">{{course.short_info}}</p>
                  <a href="{% url 'course' course.pk%}" class="btn btn-primary">Перейти к направлению</a>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>

          -->
{% endblock content %}