{% extends 'base.html'%}
{% block index %}
{% load static %}

    <div class="img__container mt-0 mb-0">
        <img src="{% static 'images/image.png' %}" class="image" alt="Описание изображения...">
       <!-- <div class="img__description">
            <div class="img__header">Яркие грани IT-технологий</div>
          <p class="lead"> Новые знания по различным направлениям
                      <br> Навыки проектной деятельности и командной работы
                      <br>Новые дисциплины</p>
                        -->
          {% if not request.user.is_authenticated %}
          <div class="img__description">
            <a class="btn rounded-pill btn-primary btn-lg my_btn" style="padding: 1rem 5rem;" href="{% url 'register' %}" role="button">Регистрация</a>
          </div>
          {% endif %}
    </div>

    <div class="jumbotron text-center" style="background-color:white;padding: 8rem 18rem;position: relative;">
            <h1 class="display-4" style="font-weight: bold;">О марафоне</h1>
            <img src="{% static 'images/Resurs_2.png' %}" style="position: absolute;width: 20%;top: 9vh;left: -3%;" class="image" alt="Описание изображения...">
            <p class="lead my-2 mx-5" style="text-weight:bold">Старт марафона 27 апреля. 
                Марафон проходит в течение нескольких дней: новый день - новое задание.
                 Количество направлений для выбора не ограничено. </p>
            <img src="{% static 'images/Resurs_1.png' %}" style="width: 10%;" class="image" alt="Описание изображения...">
            <p class="lead my-2 mx-5" style="text-weight:bold">
                 Выбирай направление и прокачивай свои знания под руководством опытных наставников. 
                 Выполняй задания каждый день и повышай свой рейтинг.</p>
            <img src="{% static 'images/Resurs_3.png' %}" style="position: absolute;width: 22%;top: 48%;right: 2%;" class="image" alt="Описание изображения...">
    </div>




{% endblock index%}
{% block content %}
{% if courses %}
 <h1 class="display-4 text-center mb-5" style="font-weight: bold;">Наши направления</h1>

          <div class="row row-cols-1 justify-content-md-center row-cols-md-3 mb-5">
          {% for course in courses %}
          <div class="col my-3">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title text-center" style="font-family: 'Rubik', sans-serif;">{{course.title}}</h3>
                <p class="card-text">{{course.short_info}}</p>
              </div>
              <!-- <div class="card-footer text-center"> -->
                <a class="btn rounded-pill btn-primary  btn-lg my_btn w-50 mb-3 mx-auto"  href="{% url 'course' course.pk%}" role="button">Подробнее</a>
              <!-- </div>  -->
            </div>
          </div>
          {% endfor %}

          </div>
          {% endif %}
          {% if request.user.student.secret_quest %}
          <h1 class="display-4 text-center mb-5" style="font-weight: bold;">Секретный квест</h1>
          <div class="row row-cols-1 justify-content-md-center row-cols-md-3 mb-5">
          {% for course in secret_courses %}
          <div class="col my-3">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title text-center" style="font-family: 'Rubik', sans-serif;">{{course.title}}</h3>
                <p class="card-text">{{course.short_info}}</p>
              </div>
              <!-- <div class="card-footer text-center"> -->
                <a class="btn rounded-pill btn-primary  btn-lg my_btn w-50 mb-3 mx-auto"  href="{% url 'course' course.pk%}" role="button">Подробнее</a>
              <!-- </div>  -->
            </div>
          </div>
          {% endfor %}
          </div
          {% endif %}

<h1 class="display-4 text-center mb-5" style="font-weight: bold;">Педагоги</h1>

<div class="row row-cols-1 justify-content-md-center row-cols-md-3 mb-5">
  {% for teacher in teachers %}
  <div class="col my-3">
    <div class="card border-0 text-center">

      <img class="card-img-top rounded-circle w-75" style="margin:auto;" src="{% if teacher.avatar %}{{teacher.avatar.url}}{% endif %}" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title mb-3">{{teacher.user.last_name}} {{teacher.user.first_name}}</h1>
        <p class="card-text" style="font-size:1.5em;">{{teacher.course_set.first}}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

 <div class="jumbotron text-center" style="background-color:white;padding: 8rem 18rem;position: relative;">
<h1 class="display-4 mb-5" style="font-weight: bold;">Об IT-Cube</h1>
<p class="lead" style="text-weight:bold;">
Центр цифрового образования детей «IT-cube» — инновационная современная площадка дополнительного 
образования и интеллектуального развития детей и подростков в сфере современных информационных и 
телекоммуникационных технологий. Дети в возрасте от 7 до 17 лет бесплатно обучаются основам программирования, 
интернет – технологиям, языкам программирования, разрабатывают приложения для мобильных устройств, конструируют 
роботов и управляют ими. </p>
<img src="{% static 'images/Resurs_10.png' %}" style="position: absolute;width: 37%;top: 22%;right: -21%;" class="image" alt="Описание изображения...">
  <img src="{% static 'images/Resurs_6.png' %}" style="position: absolute;width: 29%;top: 6vh;left: -8%;" class="image" alt="Описание изображения...">
</div>

<div class="jumbotron text-center" style="background-color:white;position: relative;">
<h1 class="display-4 mb-5" style="font-weight: bold;">Контакты</h1>
<div class="row justify-content-md-center">
  <div class="col-6 d-flex flex-column my-4"> 
 <div class="my-2"><img src="https://img.icons8.com/ios-filled/26/000000/phone.png"/>+7(991)42-00-59</div>
 <div class="my-2"> <img src="https://img.icons8.com/ios-filled/26/000000/important-mail.png"/>it_cube@mail.ru</div>
</div>
  <div class="col-6 d-flex flex-column my-4"> 
  <div class="my-2"><img src="https://img.icons8.com/ios-filled/26/000000/instagram.png"/>@vk.com/it_cube_krd</div>
   <div class="my-2"><img src="https://img.icons8.com/metro/26/000000/vk-com--v1.png"/> vk.com/it_cube_krd</div>
   </div>


  <div class="col-6"> <img src="https://img.icons8.com/ios-filled/26/000000/marker.png"/>г. Краснодар, ул. Красноармейская, 54</div>
</div>
<img src="{% static 'images/Resurs_7.png' %}" style="position: absolute;width: 26%;top: 12vh;right: -12%;z-index: 1;" class="image" alt="Описание изображения...">
</div>


{% endblock content %}