{% extends 'base.html'%}
{% block content%}
    <div class="d-flex justify-content-center">
        <h1>{{course.title}}</h1>
    </div>



    {% if course.you_tube_url %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/{{course.you_tube_url}}" allowfullscreen></iframe>
    </div>
    {% endif %}

    <div class="d-flex flex-column justify-content-center mt-3">
        <p>{{course.info|safe}}</p>
    </div>

    {% if user.teacher == course.teacher%}
         <a href="{% url 'course-statistic' course.pk%}" class="btn btn-primary">Посмтреть статистику курса</a>
         <a href="{% url 'course-update' course.pk%}" class="btn btn-danger">Редактировать</a>
         <a href="{% url 'lesson-new' course.pk%}" class="btn btn-secondary">Добавить урок</a>
    {% endif %}

    {% if user.student and course not in user.student.courses.all %}
        <a href="{% url 'register-to-course' course.pk%}" class="btn btn-primary">Записаться на курс</a>
    {% endif %}

    {% if course in user.student.courses.all or not user.student%}
        {% for lesson in course.get_published_lessons %}
            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button">
                        <a class="nav-link" href="{% url 'lesson' lesson.pk %}">{{lesson.title}}</a>
                    </button>
                </h2>
                </div>

            </div>
        {% endfor %}
    {% endif %}
    <h3>Комментарии:</h3>
    {% for comment in course.get_comments %}
        <div class="container my-3">
            <div class="row">
                <div class="col-8">
                    <div class="card card-white post">
                        <div class="post-heading">
                            <div class="float-left meta">
                                <div class="title h5">
                                    <a href="#"><b>{{comment.author}}</b></a>
                                    оставил комментарий.
                                </div>
                                <h6 class="text-muted time">{{comment.created_on}}</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>{{comment.body}}</p>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    {% endfor %}
    <div class="container my-3 d-flex flex-column ">
        <textarea id="new_comment" class="w-50" style="height:100px;" placeholder="{% if request.user.is_authenticated %}Оставьте комментарий {% else %} Только зарегестрированные пользователи могу оставлять комментарии{% endif %}"></textarea>
        {% if request.user.is_authenticated %}
        <button id="submit_comment" type="button" class="btn btn-success w-50 mt-3">Отправить</button>
        {% endif %}
    </div>
    <script type="text/javascript">
    $("#submit_comment").click(function(){  
        $.ajax({
        type: "POST",
        url : "{% url 'add-comment-course'%}",
         data : {
            course: {{course.pk}},
            body: $('textarea#new_comment').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
         },
         success: function(data, status, xhr){
            location.reload();
        }
        });
        return false;
    });
</script>
    

{% endblock%}