{% extends "base.html" %}

{%block extra%}
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
{{form.media}}
{%endblock%}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Новый курс</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Готово</button>
            </div>
        </form>
    </div>
   <script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
  </script>
{% endblock content %}