{% extends 'base.html'%}
{% block content%}
    <div class="d-flex justify-content-center">
        <h1>{{course.title}}</h1>
    </div>



    {% if course.you_tube_url %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/{{course.you_tube_url}}" allowfullscreen></iframe>
    </div>
    {% endif %}

    <div class="d-flex flex-column justify-content-center mt-3">
        <p>{{course.info|safe}}</p>
    </div>

    {% if user.teacher %}
         <a href="{% url 'course-statistic' course.pk%}" class="btn btn-primary">Посмтреть статистику курса</a>
         <a href="{% url 'course-update' course.pk%}" class="btn btn-danger">Редактировать</a>
         <a href="{% url 'lesson-new' course.pk%}" class="btn btn-secondary">Добавить урок</a>
    {% endif %}

    {% if user.student and course not in user.student.courses.all %}
        <a href="{% url 'register-to-course' course.pk%}" class="btn btn-primary">Записаться на курс</a>
    {% endif %}

    {% if course in user.student.courses.all or not user.student%}
        {% for lesson in course.lesson_set.all %}
            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button">
                        <a class="nav-link" href="{% url 'lesson' lesson.pk %}">{{lesson.title}}</a>
                    </button>
                </h2>
                </div>

            </div>
        {% endfor %}
    {% endif %}

{% endblock%}