{% extends "base.html" %}
{%block extra%}
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
{{form.media}}
<style>
      @font-face {
            font-family: "summernote";
            font-style: normal;
            font-weight: normal;
            src: url("https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/font/summernote.eot");
            src: url("https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/font/summernote.eot") format("embedded-opentype"),
            url("https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/font/summernote.woff") format("woff"),
            url("https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/font/summernote.ttf") format("truetype");
        }
    </style>
{%endblock%}


{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST">
           
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Новый урок</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Готово</button>
            </div>
        </form>
    </div>

<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
  </script>
{% endblock content %}