{% extends 'base.html'%}
{% block content%}

    <a class="nav-link" href="{% url 'course' lesson.course.pk %}">К курсу</a>
    <div class="d-flex justify-content-center">
        <h1>{{lesson.title}}</h1>
    </div>

    {% if lesson.video %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/{{lesson.video}}" allowfullscreen></iframe>
    </div>
    {% endif %}

    <div class="d-flex flex-column justify-content-center mt-3">
        {{lesson.info|safe}}
    </div>

    {% if user.teacher and lesson.course.teacher == user.teacher%}
        <a href="{% url 'lesson-update' lesson.pk%}" class="btn btn-danger">Редактировать</a>
    {% endif %}
    <a class="nav-link" href="{% url 'course' lesson.course.pk %}">К курсу</a>

    {% if lesson.active %}
    <h1> Урок активен </h1>
    {% if user.student and test%}
        {% if not already_done_test %}
        <form action="{% url 'test-results' test.pk %}" target="result" method="post">
            <h1> {{test.name}}</h1>
            {% csrf_token %}
            {% for question in test.question_set.all %}
                <h2>{{question.text}}</h2>
                {% for answer in question.answer_set.all %}
                    {% if question.multiple %}
                        <input type="checkbox" id="question{{question.pk}}-{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                    {% else %}
                        <input type="radio" id="question{{question.pk}}-{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                    {% endif %}
                    <label for="question{{question.pk}}-{{answer.pk}}">{{answer.text}}</label><br>
                {% endfor %}

            {% endfor %}
            <p><input type="submit" value="Submit"></p>
        </form>
        {% else %}
        <h1> Вы уже сдавали тест, ваш результат: {{test_result}}</h1>
        {% endif %}

    {% endif %}
    {% endif %}
{% endblock%}