{% extends 'base.html'%}
{% block content%}

    <a class="nav-link" href="{% url 'course' lesson.course.pk %}">К курсу</a>
    <div class="d-flex justify-content-center">
        <h1>{{lesson.title}}</h1>
    </div>

    {% if lesson.video %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/{{lesson.video}}" allowfullscreen></iframe>
    </div>
    {% endif %}

    <div class="d-flex flex-column justify-content-center mt-3">
        {{lesson.info|safe}}
    </div>

    {% if user.teacher and lesson.course.teacher == user.teacher%}
        <a href="{% url 'lesson-update' lesson.pk%}" class="btn btn-danger">Редактировать</a>
    {% endif %}
    <a class="nav-link" href="{% url 'course' lesson.course.pk %}">К курсу</a>

{% endblock%}