<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">   
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">  
    {% block extra %}
    {% endblock %}
    
    <title>{{ title }}</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#D8D8D8;">

    <div id="menu" class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}#napr">Направления</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}#teachers">Педагоги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}#about">Об IT-Cube</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}#contacts">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-3 order-md-2">
        <ul class="navbar-nav ml-auto text-center">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </li>
            {%endif%}
        </ul>
    </div>
</nav>
{% block index %}
    
 {% endblock index %}
 
 <div class='row mt-5 mb-5'>
        <div class='container justify-content-center'>
            {%if messages%}
                {%for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
    {% block content %}
    {% endblock content %}
        </div>
    </div>
    <footer class="footer">
         <div class="img__container mt-0 mb-0">
             <img src="{% static 'images/Resurs_9.png' %}" class="image" alt="Описание изображения...">
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>